extends layout

block content
    h1= title
    p Prove of concept of Alexa project

    // Wrapper
    #wrapper

        // DC
        h2 GRU4.1-1
        #dc
            table
                thead
                    th Aisle
                    th Light Status
                    th Action
                tbody
        // /DC

    // /WRAPPER

